#formulario-editar{
    text-align: center;
    margin: 0 auto;
    width: 50%
}
.action-form{
    display: inline-block
}
#formulario-agregar{
    text-align: center;
    margin: 0 auto;
    width: 50%;
}
a:hover{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
}
a{
    color: white;
}