body{
    margin-bottom: 50px;
    background-color: whitesmoke;
}
.div-title{
    text-align: center;
}
#title{
    font-family: 'Ubuntu', sans-serif;    
    margin-left: auto;
    margin-right: auto;
    padding: 9px;
}
.add-team-btn-div{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid gray
}
.home-div{
    padding-top: 80px;
    text-align: center;
    
}