{{#if data.teamsResponse}}
    <div class="home-div">
        <h1 style="justify-content: center; font-size: 60px;">
                Nothing to see here! :( <br> But you can add a team to the list!
        </h1>

        <div class="add-team-btn-div">
                <form id="agregar-equipo" method="GET" action="/club/add-team">
                        <button type="submit" class="btn btn-primary" ><i class="fas fa-plus-square"></i> Add team </button>
                </form>
        </div>
    </div>
{{/if}}

{{#if data.areaResponse}}
    <div class="home-div">
        <h1 style="justify-content: center; font-size: 60px;">
                Nothing to see here! :( <br> But you can add a area to the list!
        </h1>

        <div class="add-team-btn-div">
                <form id="agregar-equipo" method="GET" action="/area/add-area">
                        <button type="submit" class="btn btn-success" ><i class="fas fa-plus-square"></i> Add area </button>
                </form>
        </div>
    </div>
{{/if}}