{{#each errores as |error|}}
    <p class="alert alert-danger" style="text-align: center;">{{error}}</p>
{{/each}}

{{#each mensajes as |message|}}
    <p class="alert alert-primary" style="text-align: center;">{{message}}</p>
{{/each}}