<form id="formulario" method="POST" action="/club/agregar-equipo" enctype="multipart/form-data">
  <div class="form-group">
    <label for="nombre">Nombre del club:</label>
    <input type="text" id="nombre" name="nombre" class="form-control">
  </div>
  <div class="form-group">
    <label for="tla">Abreviatura:</label>
    <input type="text" id="tla" name="abreviatura" class="form-control">
  </div>
  <div class="form-group">
    <label for="estadio">Estadio:</label>
    <input type="text" id="estadio" name="estadio" class="form-control">
  </div>
  <div class="form-group">
    <label for="direccion">Direccion:</label>
    <input type="text" id="direccion" name="direccion" class="form-control">
  </div>
  <div class="form-group">
    <label for="fundacion">Año de fundacion:</label>
    <input type="number" id="fundacion" name="anoFundacion" class="form-control">
  </div>
  <div class="form-group">
    <label for="numeroId">Id:</label>
    <input type="number" id="numeroId" name="numeroId" class="form-control">
  </div>
  <div class="form-group">
    <label for="telefono">Telefono:</label>
    <input type="text" id="telefono" name="telefono" class="form-control">
  </div>
  <div class="form-group">
    <label for="website">Sitio web:</label>
    <input type="text" class="form-control" id="website" name="website">
  </div>
  <div class="form-group">
    <label for="pais">Pais:</label>
    <input type="text" class="form-control" id="pais" name="pais"
  </div>
  <div class="form-group">
      <label for="imagen">Escudo:</label>
      <input type="file" class="form-control" text="Seleccionar escudo" id="imagen" name="fotoEscudo">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
