<div class="home-div">

    <h1 style="justify-content: center; font-size: 100px;">
        Bienvenido <br> a CRUD Clubes
    </h1>

    <form style="margin-top: 20px;" method="get" action="/club">
        <button class="btn btn-primary" type="submit">Ver lista de equiposs</button>
    </form>
    
</div>