<div class="add-team-btn-div">
    <form id="agregar-equipo" method="GET" action="/club/add-team">
        <button type="submit" class="btn btn-primary" ><i class="fas fa-plus-square"></i> Add team </button>
    </form>
</div>

{{>errors errores=data.errors}}
{{>errors mensajes=data.messages}}
{{>teamList listaEquipos=data.teamList}}