<div class="add-team-btn-div">
    <form id="agregar-equipo" method="GET" action="/club/add-team">
        <button type="submit" class="btn btn-dark" >Add team <i class="fas fa-plus-square"></i></button>
    </form>
</div>
<h2 style="text-align: center;">TEAM LIST:</h2>

{{>teamList listaEquipos=data.teamList}}