<div class="add-team-btn-div">
    <form id="agregar-equipo" method="GET" action="/agregar-equipo">
        <button type="submit" class="btn btn-dark" >Agregar equipo <i class="fas fa-plus-square"></i></button>
    </form>
</div>
<h2 style="margin-left: 10px;">Lista de equipos:</h2>

{{>teamList listaEquipos=data.teamList}}